@use './mixins' as *;

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-contrast: more) {
  :root {
    --outline-color: light-dark(#000000, #ffffff);
    --border-color-subtle: light-dark(#000000, #ffffff);
  }
}

body {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

a {
  transition: color var(--animation-speed-fast) var(--cubic-bezier);
  color: var(--link-color);

  &:where(:hover, :focus-visible) {
    color: var(--link-hover-color);
  }
}

main a:not(.button) {
  @include text-decoration(var(--link-color), var(--link-hover-color));

  color: var(--link-color);

  &:where(:hover, :focus-visible) {
    color: var(--link-hover-color);
  }

  &.link--external,
  &.external-link {
    display: inline;

    svg {
      display: inline-block;
      vertical-align: -0.125em;
      margin-inline-start: var(--space-3xs);
    }
  }
}

*:focus,
*:focus-visible {
  @include outline;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
